In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [14]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [18]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.134864 -0.503457
   2 -0.139107  0.311924
   3 -0.493064 -1.495241
G2 1  0.054730 -0.891468
   2 -1.163895 -0.410026
   3  0.879882  2.539929

In [19]:
df.loc['G1']

          A         B
1 -0.134864 -0.503457
2 -0.139107  0.311924
3 -0.493064 -1.495241

In [20]:
df.loc['G1'].loc[1]

A   -0.134864
B   -0.503457
Name: 1, dtype: float64

In [21]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1   -0.134864 -0.503457
       2   -0.139107  0.311924
       3   -0.493064 -1.495241
G2     1    0.054730 -0.891468
       2   -1.163895 -0.410026
       3    0.879882  2.539929

In [23]:
df.loc['G2'].loc[2].loc['B']

-0.41002643703140895

In [24]:
# cross section
df.xs('G1')

            A         B
Num
1   -0.134864 -0.503457
2   -0.139107  0.311924
3   -0.493064 -1.495241

In [25]:
# use cross section to select multiple lines
df.xs(1,level='Num')

               A         B
Groups
G1     -0.134864 -0.503457
G2      0.054730 -0.891468