In [1]:
import numpy as np
import pandas as pd

In [2]:
# create dataframe from dictionary
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
df.dropna(axis=1)   # drop row/column with null value

   C
0  1
1  2
2  3

In [8]:
df.dropna(thresh=2)     # thresh: drop rows/cols that have ... number of null values

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [9]:
df.fillna(value='FILL')     # fill the null values

      A     B  C
0   1.0   5.0  1
1   2.0  FILL  2
2  FILL  FILL  3

In [11]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64